// sass --watch scss/single-cars.scss:css/single-cars.css --style compressed
// IPHONE
// @media only screen and ( min-width: 375px ) {}

// IPHONE LANDSCAPE
// @media only screen and ( min-width: 567px ) and ( max-height: 400px ) {} 

// TABLETTE
// @media only screen and ( min-width: 768px ) and ( min-height: 600px) {}

// TABLETTE LANDSCAPE
// @media only screen and ( min-width: 1024px ) and ( min-height: 768px) {}

// IPAD PRO
// @media only screen and ( min-width: 1024px ) and ( min-height: 1300px) {}

// ECRAN 720P
// @media only screen and ( min-width: 1280px ){}

// MACBOOK + IPAD PRO LANDSCAPE
// @media only screen and ( min-width: 1366px ) {}

// ECRAN PC PORTABLE
// @media only screen and ( min-width: 1440px ) {}

// MAC DE MERDE
// @media
// only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1440px),
// only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
// only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){}

// ECRAN CLASSIC 1080P
// @media only screen and ( min-width: 1920px ) {}

// ECRAN MAC RETINA
// @media only screen and ( min-width: 2560px ) {}
@import 'all/variable';

// #primary.car-jeep {
//     h1, h2, h3, h4, h5 {
//         font-family: 'JeepBold';
//     }
//     p {
//         font-family: 'JeepRegular';
//     }
    
// }

// #primary.car-smart {
//     h1, h2, h3, h4, h5 {
//         font-family: 'smartBold';
//     }
//     p {
//         font-family: 'smartRegular';
//     }
    
// }

// #primary.car-mercedes-benz, .car-mercedes-benz-sav, .car-mercedes-benz-vans, .car-mercedes-benz-vans-sav, .car-camion{
//     h1, h2, h3, h4, h5 {
//         font-family: 'MercedesTitle';
//         font-weight: 200;
//     }
//     p {
//         font-family: 'MercedesLight';
//     }
    
// }

// #primary.car-indian{
//     h1, h2, h3, h4, h5 {
//         font-family: 'Indian';
//         font-weight: 200;
//     }
//     p {
//         font-family: 'Indian';
//     }
    
// }
p {
    padding: 0 15px;
}

.logo{
    figure {
        height: 0px;
    }
}

.treebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.solobutton {
    margin-top: 50px;
}

.site-main-mb {
    h2 {
        margin-top: 30px;
    }
    .wp-block-buttons {
        margin-top: 20px;
    }
    .grey-background {
        padding: 30px;
        figure {
            margin-top: 0;
        }
        .wp-block-buttons {
            margin-top: 0px;
        }
    }
}

//LOGO ON THUMBNAILS

    .banniere{
        position: relative;
        .thumbnails {
            background-size: cover;
        }
        .logocontainer {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin: 0 auto;
            position: absolute;
            width: 100%;
            .logobrand {
                height: 150px;
                width: 150px;
                margin:15px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .logolg {
                height: 150px;
                width: 200px;
                margin:15px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .logofuso {
                display:none;
            }
        }
    }


.car-jeep, .car-jeep-sav {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/cars/logo-jeep.png);
            }
            .logolg {
                background-image: url(../imgs/cars/LOGO_LG_CARS_JEEP.png);
            } 
        }
    }
}

.car-smart, .car-smart-sav {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/cars/smart-logo.png);
            }
            .logolg {
                background-image: url(../imgs/cars/logo-lg-smart.png);
            } 
        }
    }
}
.car-mercedes-benz {
    .centerdesktop {
        font-size: 20px;
    }
    h2 {
        padding-top: 30px;
    }
    .intention img {
        min-width: 170%;
    }
    .listspecial {
        margin: 0px 15px;
    }
    #Dealerships .listspecial ul {
        margin: 0px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .solobutton {
        margin-top: 20px;
    }
    #Dealerships {
        h2 {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.car-mercedes-benz, .car-mercedes-benz-sav {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/cars/logo_mercedes.png);
            }
            .logolg {
                background-image: url(../imgs/cars/LOGO_LG_GROUPE_CARS_MB_BLANC.png);
            } 
        }
    }
}

.car-mercedes-benz-vans, .car-mercedes-benz-vans-sav {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/cars/logo_mercedes.png);
            }
            .logolg {
                background-image: url(../imgs/cars/logo-lg-vans.png);
            }
        }
    }
}

.car-camion, .car-camion-sav {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/cars/logo_mercedes.png);
                height: 100px;
            }
            .logolg {
                background-image: url(../imgs/cars/logo-lg-truck.png);
                height: 110px;
                width: 280px;
            } 
            .logofuso {
                background-image: url(../imgs/cars/logo-fuso.png);
                display:block;
                height: 150px;
                width: 200px;
                margin:15px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            } 
        }
    }
}

.car-indian {
    .banniere{
        .logocontainer {
            .logobrand {
                background-image: url(../imgs/lg_group/INDIAN.png);
            }
            .logolg {
                display : none;
            }
        }
    }
}

//END LOGO ON THUMBNAILS

.backgroundspecial {
    background: #181818;
    box-shadow: 3px 7px 1px #151515, -3px -7px 9px #212121;
    margin: 0px;
    border-radius: 15px;
    padding-bottom: 50px;
    padding-top: 50px;
    ul {
        margin: 30px;
        padding: 0px;
    }
}

#SAV {
    .wp-block-columns {
        /* display: flex; */
        margin-bottom: 1.75em;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        justify-content: center;

        #SAV .button-perso-red {
            margin: auto;
        }
    }
}

.phonenumber {
    ul {
        margin: 25px;
        li {
            display: flex;
            span {
                display: block;
            }
        }
    }
}

.mobiledisabled {
    display: none;
}


.parts {
    position: relative;
    background-image: url(../imgs/cars/FOND_PIECE_DORIGINE.png);
    background-size: 400%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.generic {
    position: relative;
    background-image: url(../imgs/home/FOND_OCCASIONS.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.big {
    font-size: 25px;
}

h3 {
    font-family: 'InriaSansLight';
    padding-bottom: 20px;    
    padding-right: 20px;
}

.displayaligncenter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

hr.separator {
    background-image: url(../icons/other/separator.png);
    background-repeat: no-repeat;
    background-size: revert;
    background-position: center;
    background-color: transparent; 
    height: 4px;
    width: 60%;
    position: relative;
    top: 0px;
    margin-bottom: -4px;
}

h2 {
    padding-top: 50px;
    padding-right: 20px;
    padding-left : 20px;
    padding-bottom: 30px;
}

h3{
    padding-left : 20px;
}

.intention {
    overflow: hidden;
    img {
        min-width: 140%; 
    }
}
.special {
    .intention {
        overflow: hidden;
        img {
            min-width: 200%;
            position: relative;
            right: 150px;
        }
    }
}


#SAV {
    background: #1e1e1e;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    p{
        margin: 0px;
        margin-bottom: 20px;
        text-align: center;
    }
    .button-perso-red{
        margin: auto;
        min-width: 96px;

    }
}

.backwithouthover{
    .aligncenter {
        margin: 15px;
    }
    display: flex;
    justify-content: center;
    padding: 0px 1em;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    background: #181818;
    box-shadow: 3px 7px 1px #151515, -3px -7px 9px #212121;
    img {
        border-radius: 0;
    }
    
}

.back{
    .aligncenter {
        margin: 15px;
    }
    display: flex;
    justify-content: center;
    padding: 0px 1em;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    background: #181818;
    box-shadow: 3px 7px 1px #151515, -3px -7px 9px #212121;
    img {
        border-radius: 0;
    }
    &:hover {
        box-shadow: 0px 0px 8px #8b1115, 0px 0px 8px #ff5562;
        background-image: url(../icons/other/icon-download.png);
        background-repeat: no-repeat;
        background-size: revert;
        background-position: center;
        width: 120px;
        height: 120px;
        img {
            display: none;
        }
    }
}

.car-mercedes-benz-sav{
    figure {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Select {
        .falselist {
            counter-reset: section;
            p{
                counter-increment: section;
                position: relative;
                left: 53px;
                max-width: 80%;
            }
            p:before {
                color: #04a3dd;
                font-size: 53px;
                left: -33px;
                top: 50%;
                content: counter(section) " ";
                transform: translateY(-50%);
                position: absolute;
            }
            p:after {
                content: "";
                background-image: url(../icons/other/line.png);
                width: 3px;
                height: 30px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                position: absolute;
            }
        }
        a {
            color: #04a3dd;
        }
       
}
    
    #Business {
            padding-top: 50px;
            .wp-block-column {
            display: flex;
            align-items: center;
            flex-direction: column;
            .back{
                .aligncenter {
                    margin: 15px;
                }
                display: flex;
                justify-content: space-between;
                padding: 0px 1em;
                align-items: center;
                cursor: pointer;
                margin: 15px;
                height: 120px;
                width: 120px;
                border-radius: 15px;
                background: #181818;
                box-shadow: 3px 7px 1px #151515, -3px -7px 9px #212121;
                img {
                    border-radius: 0;
                }
                &:hover {
                    box-shadow: 0px 0px 8px #8b1115, 0px 0px 8px #ff5562;
                    background-image: none;
                    background-repeat: no-repeat;
                    background-size: revert;
                    background-position: center;
                    width: 120px;
                    height: 120px;
                    margin: 15px;
                    img {
                        display: flex;
                    }
                }
            }
        }
    }
}


#Offer {
    .wp-block-column {
        flex-basis: unset !important;
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        align-items: center;
    }

}

#Actuality{
    position: relative;
    background-image: url(../imgs/home/FOND_OCCASIONS.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    h2 {
        margin-bottom: 50px;
    }
    #WrapperContainer {
        padding-bottom: 50px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: -5px;
        }
    
}

#Dealerships {
    position: relative;
    background-image: url(../imgs/home/map.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    .listspecial {
        ul{
            margin: 0px;
            padding-left: 15px;
            padding-right: 30px;
            li{
                position: relative;
                line-height: 1.8;
                font-size: 18px;
                letter-spacing: 1px;
                font-family: 'InriaSansLight';
                a {
                    color: white;
                }
              &::after{
                    content: "";
                    position: absolute;
                    height: 11px;
                    width: 7px;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(../icons/other/fleche_red.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: transform 0.5s;
                }
            }
        }
    }
}


#NewCars {
    background-image: url(../imgs/cars/voiture-CarsNews.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    background-position-y: 390px;
    position: relative;
    background-color: #2b2b2b;
    padding-bottom: 50px;
}

#Financial{
    position: relative;
    background-image: url(../imgs/home/FOND_OCCASIONS.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

#Intro{
    background-image: url(../imgs/home/FOND_INTRO.png);
    background-size: 400%;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
#JeepElectric{
    position: relative;
    background-image: url(../imgs/cars/jeep4xe.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 50px; 
}


#Electric{
    position: relative;
    background-image: url(../imgs/cars/FOND\ ELECTRIQUE.png);
    background-size: 400%;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    .wp-block-column {
        .wp-block-image.size-large {
            img {
                padding-left: 15px;
            }
        }
    }
}


.phonenumber ul li span {
    display: inline-block;
}

    #Parts{
        .intention.special-resize {
        figure {
            img {
                min-width: 100% !important;
            }
        }
    }
}

.single-cars{
    #page{
        #primary{
            #Intro{
                position: relative;               
                padding-bottom: 50px;
                .Carbon {
                    background-image: url(../imgs/home/FOND_OCCASIONS.png);
                    background-size: 400%;
                    background-position: bottom center;
                    background-repeat: no-repeat;
                }
                
                h2{
                    position: relative;
                    padding-bottom: 25px;
                    &::before{
                    }
                }
                p{
                    margin: 20px 0 0;
                }
            }
            #Description{
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        p:last-child{
                            margin-bottom: 60px;
                        }
                    }
                }
            }
           
            #Special{
                background-image: url(../imgs/cars/FOND\ VENTES\ SPECIALES.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                
                h2{
                    padding-bottom: 80px;
                    position: relative;
                    padding: 40px 0 80px;
                    &::before{
                        content:"";
                        position: absolute;
                        bottom: 15px;
                        background-image: url(../icons/other/laurier.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 70px;
                        height: 70px;
                        
                    }
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0px 20px;
                        p{
                            
                        }
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            #Electric{
                h2{
                    background-repeat: no-repeat;
                    background-size: 300%;
                    background-position: top;
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            #Business{
                background-image: url(../imgs/cars/FOND\ BUSINESS.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-bottom: 50px;
                h2{
                    position: relative;
                    text-align: center;
                    &::before{
                        content: '';
                        background-image: url(../icons/other/UNDERLIGHT_TITRES.png);
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 9px;
                        width: 90px;
                    }
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

@media only screen and ( min-width: 567px )  {
    .wp-block-columns.nowrap {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .back {
            height: 120px;
        }
    }

    .width50 {
        max-width: 50%;
    }

    .backgroundspecial {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .phonenumber {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
           
            &:only-child {
                max-width: 50%;
            }
        }

    }
    
    .logo {
        height: auto;
        padding-left: 15px;
    }
    .back{
        height: auto;
        padding-left: 15px;
    }

    #Offer .back .aligncenter {
        margin: 15px;
        height: auto;
    }

    figure {
        height: 415px;
    }
    
    .wp-block-columns {
        display: block;
    }
    .wp-block-columns.reverse {
        display: flex ;
        flex-direction: column-reverse;
        .wp-block-column:nth-child(2n) {
            margin-left: 0;
        }
    }

    .wp-block-column:nth-child(2n) {
        margin-left: 0;
    }

    .wp-block-columns.space-evenly {
        display: flex ;
    }
    .wp-block-column:not(:only-child).special {
    
        .intention img {
            min-width: 100%;
            right: 0;
        }
    }
    .wp-block-columns.listspecial {
        margin-right: 23%;
        margin-left: 23%;
    }

    #Electric{
        .wp-block-column {
            .wp-block-image.size-large {
                img {
                    padding-left: 0px;
                }
            }
        }
    }

}

// TABLETTE LANDSCAPE
@media only screen and ( min-width: 768px ){
    .section:not(#Actuality) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    
    .special {
        .intention.special-resize{
            img {
                min-width: 300%;
                position: relative;
                right: 300px;
            }
        }
    }

    .special {
        margin-left: 0px !important;
        .intention{
            img {
                right: 0;
            }
        }
    }

    .backgroundspecial {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .reverse {
        flex-direction: row;
    }
    #Intro {
        background-size: 200%;
    }
    
    #Actuality {
        background-size: 200%;
    }
    #NewCars {
        background-position-y: unset;
    }
    #Electric {
        background-size: 200%;
    }
    #Financial {
        background-size: 200%;
    }
    .generic {
        background-size: 200%;
    }
    .parts{
        background-size: 200%; 
    }
    #Select {
        img {
            width: 100%;
        }
    }
}


// TABLETTE
 @media only screen and ( min-width: 768px ) {
    
    
    .car-jeep {
        .intention img {
            right: 25%;
            position: relative;
        }
        .wp-block-columns.space-evenly {
            display: flex;
            align-items: center;
        }
        #NewCars {
            background-size: 150%; 
        }
        
    }


    #NewCars {
        .wp-block-column.special {
            display: flex;
            align-items: center;
            position: relative;
        }
    }
    .wp-block-columns.listspecial {
        margin-right: unset;
        margin-left: unset;
    }
    
    #SAV {
    flex-direction: row;

    .wp-block-column:not(:only-child) {
        flex-basis: unset !important;
        flex-grow: unset !important;
    }
        p {
        margin-bottom: 0;
        }
    }

    .wp-block-column:nth-child(2n) {
        margin-left: unset;
    }
    
    #Offer {
        .back{
            .aligncenter {
                margin: 15px;
            }
            display: flex;
            padding: 0px 1em;
            align-items: center;
            cursor: pointer;
            margin: 15px;
            height: 127px;
            width: 127px;
            border-radius: 15px;
            background: #181818;
            box-shadow: 3px 7px 1px #151515, -3px -7px 9px #212121;
            img {
                border-radius: 0;
            }
            &:hover {
                box-shadow: 0px 0px 8px #8b1115, 0px 0px 8px #ff5562;
                background-image: url(../icons/other/icon-download.png);
                background-repeat: no-repeat;
                background-size: revert;
                background-position: center;
                width: 127px;
                height: 127px;
                img {
                    display: none;
                }
            }
        }
    }
}


// TABLETTE LANDSCAPE
@media only screen and ( min-width: 1024px ) and ( min-height: 768px) {
    .padding30 {
        padding : 30px 80px;
    }
    .car-mercedes-benz-vans {
        #NewCars {
        .wp-block-embed__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .video {
            margin-right: 60px;
            margin-left: 60px;
        }
    }
}

    .car-mercedes-benz-sav {
        .marginright {
            margin-right: 50px;
            h2 {
                padding-top: 85px;
                margin-bottom: 50px;
            }
        }
       #Business {
            padding-top: 100px;
            padding-bottom: 100px !important;
        }
    }

    .car-mercedes-benz {
        #Intro .button-actu-red {
            margin-left: 0;
        }
        h2 {
            margin-bottom: 50px;
            padding-top: 85px;
        }
        .marginright {
            margin-right: 50px;
        }
        .space-evenly {
            justify-content: space-between;
            width: 85%;
            margin-left: 20px;
        }
        .fourcolumns {
            margin: auto;
            display: flex;
            width: 50%;
        }
        .listspecial {
            width: 45%;
            margin-right: auto;
            margin-left: auto;
            padding-bottom: 50px;
        }    
    }
    
    .marginright{
        margin-right : 15px;
    }

    .solobutton {
        margin-top: 0px;
        margin-right : 10px;
        justify-content: left !important;
        position: relative;
        left: 20px;
    }

    .wp-block-column.treebutton {
        align-items: flex-start;
        padding-left: 15px;
    }
    
    .banniere{
        .logocontainer {
            flex-direction: row !important;
            .logobrand {
                height: 220px;
                width: 220px;
            }
            .logolg {
                height: 220px;
                width: 280px;
            }
            
        }
    }

    .cars-camion, .cars-camion-sav {
        .banniere {
            .logo-fuso {
                height: 220px;
            }
        }
    }

        
    .displayaligncenter{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    
    .wp-block-columns {
        display: flex;
    }
    .wp-block-columns.reverse {
        flex-direction: row;
        align-items: center;
    }

#SAV {
        p {
            position: relative;
            padding-right: 30px;
            &::after {
                content: "";
                background-image: url(../icons/other/line.png);
                width: 3px;
                height: 30px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                position: absolute;
            }
        }
    }
}

// ECRAN 720P
@media only screen and ( min-width: 1280px ){
    .wp-block-columns.fourcolumns {
        margin: auto;
        .wp-block-column:not(:first-child) {
            margin: unset;
        }
        .wp-block-column:nth-child(2n) {
            margin-left: unset;
        }
    }
    
    .treebuttons {
        .wp-block-column:nth-child(2n) {
            margin-left: 2em;
        }
        .wp-block-column:nth-child(1), .wp-block-column:nth-child(2) {
            position: relative;
            &::after{
                content: "";
                background-image: url(../icons/other/line.png);
                width: 3px;
                height: 30px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                right: -8%;
                transform: translateY(-50%);
                position: absolute;
            }
        }
    }
    
    .top {
        align-items: top;
    }

    .car-smart {
        #Electric .wp-block-image {
            width: unset;
        }
    }

    .car-mercedes-benz-sav {
            #Intro { 
                    #Business .wp-block-column:nth-child(2n){
                margin-top: 0px;
            }
        }
    }

    .mobiledisabled {
        display: block;
    }
    
    .paddingsup {
        padding-left: 50px;
        padding-right: 50px;
    }
    

    #Sprinter {
        .intention {
            img {
                min-width: 100%;
            }
        }
    }
    
    
    .wp-block-columns {
        display: flex;
        align-items: center;
    }
    .car-jeep {
        #Electric .wp-block-image {
            background-size: 100%;
            width: auto;

            .intention img {
                left: 0;
                height: auto;
            }
           
        }
        #Business 
            
        figure.intention{
            height: 474px;
            img {
                min-width: 175% ;

            }
        }
        #Financial {
            .space-evenly::after {
                left: 366px;
            }
        }
    }


    .wp-block-buttons.is-content-justification-center.superjustify {
        justify-content: center;
    }
    

    #Business figure.intention  {
        height: 300px;
        img{
            bottom: 0;
            min-width : 100%;
        }
    }

  

    .separatorbutton, 
    .space-evenly {
        position: relative;
        &::after {
            content: "";
            background-image: url(../icons/other/line.png);
            width: 3px;
            height: 30px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
    }

    

    figure {
        height: unset;
    }

    .paddingleft {
        padding-right: 53px;
    }

    .special {
        margin-left: 0px !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction : column;
    }
    #Intro {
        background-size: 100%;
        .centerdesktop {
            margin-bottom: 50px !important;
        }
        .wp-block-column:nth-child(2n) {
            margin-top: 50px;
        }
        .button-actu-red {
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    #Actuality {
        background-size: 100%;
    }
    #NewCars {
        background-size: 100%;
        background-position: center;
        background-color: #2b2b2b;
        padding-bottom: 50px;
    }
    #Electric {
        background-size: 100%;
            .wp-block-image {
            background-size: 100%;
            width: calc(100% - 150px);
        }
    }
    #Financial {
        background-size: 100%;
        .intention {
            height: 474px;
            img {
                min-width: 100%;
            }
        }
    }
    #Dealerships {
        background-size: 100%;
    }
    .generic {
        background-size: 100%;
    }
    .parts {
        background-size: 100%;
    }

    .car-mercedes-benz-sav { 
        #Business {
            display: flex;
            align-items: end;
            .wp-block-column:nth-child(2n) {
                padding-right: 0;
            }
            figure {
                height : unset;
                img {
                
                bottom: 0;
                }
            }
        }
    }

    hr.separator {
        width: 80%;
    }

    .left {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 30px;
        figure {
            margin: 0px !important;
            padding-left: 20px;
        }
        h3 {
            text-align: left !important;
        }
    }

    .car-camion {
        #Business figure img {
            bottom: 0;
        }
    }
    .car-jeep {
    #Business figure img {
        bottom: 0;
        }
    #Financial {
        .intention img {
                min-width: 200%;
                position: relative;
                right: 580px;
            }
        }   
    }

    #Business {
        .wp-block-column:nth-child(2n) {
            padding-right: 150px;
        }
        figure {
            height: 474px;
            img {
                position: relative;
                bottom: 245px;
            }
        }
    }

    // .wp-block-column:nth-child(2n) {
    //     margin-left: 50px;
    // }
}
// ECRAN CLASSIC 1080P
@media only screen and ( min-width: 1920px ) {
    #Business figure.intention {
        height: 430px;
    }
    .car-mercedes-benz {
        .space-evenly {
            width: 55%;
        }
        #business {
            .space-evenly {
                width: 60%;
            }
        }     
    }

    
}