// sass --watch scss/single-cars.scss:css/single-cars.css --style compressed
// IPHONE
// @media only screen and ( min-width: 375px ) {}

// IPHONE LANDSCAPE
// @media only screen and ( min-width: 567px ) and ( max-height: 400px ) {} 

// TABLETTE
// @media only screen and ( min-width: 768px ) and ( min-height: 600px) {}

// TABLETTE LANDSCAPE
// @media only screen and ( min-width: 1024px ) and ( min-height: 768px) {}

// IPAD PRO
// @media only screen and ( min-width: 1024px ) and ( min-height: 1300px) {}

// ECRAN 720P
// @media only screen and ( min-width: 1280px ){}

// MACBOOK + IPAD PRO LANDSCAPE
// @media only screen and ( min-width: 1366px ) {}

// ECRAN PC PORTABLE
// @media only screen and ( min-width: 1440px ) {}

// MAC DE MERDE
// @media
// only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1440px),
// only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1440px),
// only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
// only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){}

// ECRAN CLASSIC 1080P
// @media only screen and ( min-width: 1920px ) {}

// ECRAN MAC RETINA
// @media only screen and ( min-width: 2560px ) {}
@import 'all/variable';
#Actuality{
    position: relative;
    margin-top: 30px;
    background-image: url(../imgs/home/FOND_OCCASIONS.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}



#NewCars {
    background-image: url(../imgs/cars/voiture-CarsNews.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    position: relative;
    background-color: #2b2b2b;
}

#Financial{
    position: relative;
    margin-top: 30px;
    background-image: url(../imgs/home/FOND_OCCASIONS.png);
    background-size: 400%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

#Electric{
    position: relative;
    background-image: url(../imgs/cars/FOND\ ELECTRIQUE.png);
    background-size: 400%;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}


.single-cars{
    #page{
        #primary{
            #Intro{
                padding: 20px 50px;
                h2{
                    position: relative;
                    padding-bottom: 25px;
                    &::before{
                        content: '';
                        background-image: url(../icons/other/UNDERLIGHT_TITRES.png);
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 9px;
                        width: 120px;
                    }
                }
                p{
                    margin: 20px 0 0;
                }
            }
            #Description{
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        p:last-child{
                            margin-bottom: 60px;
                        }
                    }
                }
            }
           
            #Special{
                background-image: url(../imgs/cars/FOND\ VENTES\ SPECIALES.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
                
                h2{
                    padding-bottom: 80px;
                    position: relative;
                    padding: 40px 0 80px;
                    &::before{
                        content:"";
                        position: absolute;
                        bottom: 15px;
                        background-image: url(../icons/other/laurier.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 70px;
                        height: 70px;
                        
                    }
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0px 20px;
                        p{
                            
                        }
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            #Electric{
                h2{
                    padding: 30px 20px 70px;
                    background-repeat: no-repeat;
                    background-size: 300%;
                    background-position: top;
                    &::before{
                        content: '';
                        background-image: url(../icons/other/UNDERLIGHT_TITRES.png);
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 9px;
                        width: 120px;
                    }
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            #Business{
                background-image: url(../imgs/cars/FOND\ BUSINESS.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                h2{
                    position: relative;
                    padding: 20px 20px 25px;
                    text-align: center;
                    &::before{
                        content: '';
                        background-image: url(../icons/other/UNDERLIGHT_TITRES.png);
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 9px;
                        width: 90px;
                    }
                }
                .wp-block-media-text{
                    .wp-block-media-text__content{
                        padding: 0 20px;
                        .wp-block-buttons{
                            justify-content: center;
                            .wp-block-button{
                                margin:0 0 25px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

// TABLETTE LANDSCAPE
@media only screen and ( min-width: 1024px ) and ( min-height: 768px) {

}