@import 'variable';

body, html{
    position: relative;
    color: white;

}

// main.site-main-mb {
//     h1, h2, h3, h4, h5 {
//         font-family: 'MercedesTitle';
//         font-weight: 200;
//     }
//     p {
//         font-family: 'MercedesLight';
//     }
// }
.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.space-evenly {
        justify-content: space-evenly;
    }


.contain-txt {
    .button-actu-red {
        margin-left: auto;
        margin-right: auto;
    }
    p {
        padding: 0px;
    }
}

.wp-block-buttons>.wp-block-button {
    margin-right: 0;
}

.justify{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.wp-block-columns {
    margin-bottom: 0;
}


.wp-block-columns.reverse {
    display: flex !important;
    flex-direction: column-reverse;
}


#Actuality.wp-block-column {
        p {
            padding: 0px;
            text-align: left;
        }
}

#Actuality{
    .swiper-actu{
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
        .swiper-wrapper{
            .swiper-slide{
                display: block;
                .container-slide{
                    padding: 0px 20px; 
                    .contain-shadow{
                        background: linear-gradient(145deg, #161616, #1a1a1a);
                        box-shadow:  10px 16px 7px #161616,
                                    -22px -10px 12px #1a1a1a;
                        border-radius: 15px;
                        
                        .background-slide{
                            height: 220px;
                            width: 100%;
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                        }
                        .contain-txt{
                            padding: 25px 20px 30px;
                            .title-concession{
                                font-family: 'InriaSansLight';
                                color: white;
                                text-transform: uppercase;
                                letter-spacing: 1.3px;
                                font-weight: 400;
                                margin: 0 0 15px;
                                font-size: 1.00em;
                            }
                            .title-actu{
                                font-family: 'InriaSansBoldI';
                                text-transform: uppercase;
                                letter-spacing: 1.3px;
                                color: white;
                                margin: 0;
                                font-size: 1.25em;
                                line-height: 1.2;
                            }
                            p{
                                font-family: 'RobotoLight';
                                color: $grey;
                            }
                        }
                    }
                }

                  
            }
        }
        .swiper-pagination-actu{
            .swiper-pagination-bullet{
                border-radius: 15px;
                background: #0f0f10;
                box-shadow: inset 1px 1px 5px #060606,
                            inset -1px -1px 5px #18181a;
                width: 10px;
                height: 10px;
                opacity: 1;
            }
            .swiper-pagination-bullet-active{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 15px;
                    background: linear-gradient(145deg, #ff3941, #db3037);
                    box-shadow:  0px 0px 8px #611518,
                                -0px -0px 8px #ff5562;
                }
            }
        }
    }
}
h2{
    position: relative;
    padding-bottom: 25px;
    text-align: center;
    &::before{
        content: '';
        background-image: url(../icons/other/UNDERLIGHT_TITRES.png);
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 9px;
        width: 90px;
    }
}

#Light {
    background-image: url(../imgs/cars/car-detail-headlights-car.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 190px;
    background-position-y: 190px;
    position: relative;
}

#items-mb {
    background-image: url(../imgs/cars/fond-lg-cars.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: bottom;
    position: relative;
    padding-bottom : 50px;
}

.grey-background {
    background-color: #2c2c2c;
    box-shadow: $shadow1;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    img {
        height: 105px;
        width: auto;
    }
}

.page{
    margin: 0;
}
a, button{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
h2{
    font-family: 'InriaSansBoldI';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding-top : 50px;
}
h3{
    font-family: 'InriaSansBoldI';
    letter-spacing: 1.7px;
    margin: 0;
}
p, span, a, cite{
    font-family: 'InriaSansLight';
    letter-spacing: 1px;
}
pre{
    color: #101010;
}
.icons{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.thumbnails{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banniere{
    width: 100%;
    height: calc(100vh - 80px);
    .thumbnails{
        height: 100%;
    }
}
.toolbar-occasion {
    position: fixed;
    display: flex;
    //display: none;
    top: 67%;
    z-index: 99;
    right: -225px;
    padding: 0;
    transition: all 0.5s;
    .container-visible{
        background: $black;
        width: 45px;
        height: 140px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        position: relative;
        border: 1px solid #4c4c4c;
        .title-toolbar{
            color: $red;
            text-transform: uppercase;
            font-family: 'InriaSans';
            letter-spacing: 1.3px;
            transform: rotateZ(-90deg);
            position: absolute;
            margin: 0;
            left: -25px;
            top: 55px;
        }
    }
    .container-hidden{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;       
        width: 224px;
        background-color: white;
        padding: 10px 15px;
        
        .container-icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            width: 33.333333%;
            span{
                display: none;
            }
            .icon-car{
                background-image: url(../icons/Toolbar/voitures.png);
            }
            .icon-moto{
                background-image: url(../icons/Toolbar/motos.png);
            }
            .icon-scooter{
                background-image: url(../icons/Toolbar/scooters.png);
            }
            .icon-quad{
                background-image: url(../icons/Toolbar/quads.png);
            }
            .icon-vans{
                background-image: url(../icons/Toolbar/utilitaires.png);
            }
            .icon-truck{
                background-image: url(../icons/Toolbar/camions.png);
            }
        }
        .icons-tool{
            width: 38px;
            height: 38px;
            margin: 0;
        }
    }
    &.active{
        right: 0px;
        transition: all 0.5s;
    }
}
.button-perso-red{
    .wp-block-button__link{
        background-color: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 1;
    background: #181818;
    box-shadow: -4.95px -4.95px 11px 0px rgba(39, 39, 39, 0.8),8.192px 5.736px 12px 0px rgba(6, 6, 6, 0.6);    
    min-width: 208px;
    min-height: 30px;
    font-size: 16px;
    padding: 10px;
    border: none;
    margin: 10px 0px 0px;
    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        border-radius: 15px;
        background-color: #101010;
        background-image: linear-gradient(to right, #f92231 0%, #101010 50%, #f92231 100%);
        background-size: 200%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        content: '';
        z-index: -2;
    }
    &::after{
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        border-radius: 15px;
        background: #181818;
        content: '';
        z-index: -1;
    }
    a, span{
        position: relative;
        color: white;
        font-family: 'InriaSans';
        letter-spacing: 1.3px;
        padding: 0px 15px 0px 0px;
        &::after{
            content: '';
            background-image: url(../icons/other/FLECHE.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 14px;
            width: 8px;
        }
    }
}


.button-perso-blue{
    .wp-block-button__link{
        background-color: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 1;
    background: #181818;
    box-shadow: -4.95px -4.95px 11px 0px rgba(39, 39, 39, 0.8),8.192px 5.736px 12px 0px rgba(6, 6, 6, 0.6);    
    min-width: 208px;
    font-size: 16px;
    padding: 10px;
    border: none;
    margin: 10px 0px 0px;   
    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        border-radius: 15px;
        background-color: #101010;
        background-image: linear-gradient(to right, #03b5ff 0%, #101010 50%, #03b5ff 100%);
        background-size: 200%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        content: '';
        z-index: -2;
    }
    &::after{
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        border-radius: 15px;
        background: #181818;
        content: '';
        z-index: -1;
    }
    a, span{
        position: relative;
        color: white;
        font-family: 'InriaSans';
        letter-spacing: 1.3px;
        padding: 0px 15px 0px 0px;
        &::after{
            content: '';
            background-image: url(../icons/other/FLECHE.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 14px;
            width: 8px;
        }
    }
}
.button-perso-gold{
    .wp-block-button__link{
        background-color: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 1;
    background: #181818;
    box-shadow: -4.95px -4.95px 11px 0px rgba(39, 39, 39, 0.8),8.192px 5.736px 12px 0px rgba(6, 6, 6, 0.6);    
    width: 208px; 
    min-height: 30px; 
    margin: 30px 0px 40px;     
    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        border-radius: 15px;
        background-color: #101010;
        background-image: linear-gradient(to right, #cdab5f 0%, #101010 50%, #cdab5f 100%);
        background-size: 200%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        content: '';
        z-index: -2;
    }
    &::after{
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        border-radius: 15px;
        background: #181818;
        content: '';
        z-index: -1;
    }
    a, span{
        position: relative;
        color: white;
        font-family: 'InriaSans';
        letter-spacing: 1.3px;
        padding: 0px 15px 0px 0px;
        &::after{
            content: '';
            background-image: url(../icons/other/FLECHE.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 14px;
            width: 8px;
        }
    }
}
.button-perso-white{
    .wp-block-button__link{
        background-color: unset;
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 1;
    background: #181818;
    box-shadow: -4.95px -4.95px 11px 0px rgba(39, 39, 39, 0.8),8.192px 5.736px 12px 0px rgba(6, 6, 6, 0.6);    
    min-width: 208px;
    min-height: 30px;
    font-size: 16px;
    padding: 10px;
    border: none;
    margin: 10px 0px 0px;    
    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        border-radius: 15px;
        background-color: #101010;
        background-image: linear-gradient(to right, #fff 0%, #101010 50%, #fff 100%);
        background-size: 200%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        content: '';
        z-index: -2;
    }
    &::after{
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        border-radius: 15px;
        background: #181818;
        content: '';
        z-index: -1;
    }
    a, span{
        position: relative;
        color: white;
        font-family: 'InriaSans';
        letter-spacing: 1.3px;
        padding: 0px 15px 0px 0px;
        &::after{
            content: '';
            background-image: url(../icons/other/FLECHE.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 14px;
            width: 8px;
        }
    }
}
.button-actu-red{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    z-index: 1;
    background: #181818;
    box-shadow: -4.95px -4.95px 11px 0px rgba(39, 39, 39, 0.8),8.192px 5.736px 12px 0px rgba(6, 6, 6, 0.6);    
    min-width: 208px;
    min-height: 30px;
    font-size: 16px;
    padding: 10px;
    border: none;
    margin: 10px 0px 0px;
    &::before{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        border-radius: 15px;
        background-color: #101010;
        background-image: linear-gradient(to right, #f92231 0%, #101010 50%, #f92231 100%);
        background-size: 200%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        content: '';
        z-index: -2;
    }
    &::after{
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        display: block;
        border-radius: 15px;
        background: #181818;
        content: '';
        z-index: -1;
    }
    a, span{
        position: relative;
        color: white;
        
        background-color: unset;
        font-family: 'InriaSans';
        letter-spacing: 1.3px;
        padding: 0px 15px 0px 0px;
        &::after{
            content: '';
            background-image: url(../icons/other/FLECHE.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 14px;
            width: 8px;
        }
    }
}
.wp-block-buttons.aligncenter{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

// IPHONE
//@media only screen and ( min-width: 375px ) {}


@media only screen and ( min-width: 567px ) {
    #items-mb {
        background-size: 100%;
            .wp-block-columns {
            flex-wrap: nowrap;
            .wp-block-column:nth-child(2n) {
                margin-left: 15px; 
            }
        } 
    }
    #Light {
        background-image: url(../imgs/cars/car-detail-headlights-car.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: right;
    }


}
// IPHONE LANDSCAPE
@media only screen and ( min-width: 567px ) and ( max-height: 400px ) {
    .toolbar-occasion {
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: none;
        top: 53%;
        left: -225px;
        // right: 0;
        .container-visible{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &.active{
            left: 0px;
        }
    }

} 

// TABLETTE
//@media only screen and ( min-width: 768px ) and ( min-height: 600px) {}

// TABLETTE LANDSCAPE
//@media only screen and ( min-width: 1024px ) and ( min-height: 768px) {}

// IPAD PRO
// @media only screen and ( min-width: 1024px ) and ( min-height: 1300px) {}

// ECRAN 720P
@media only screen and ( min-width: 1280px ) {
    body {
        font-size: 16px;
    }

    // .thumbnails {
    //     background-position: unset;
    // }

    
    
    .padding230 {
        padding-left: 230px;
        padding-right: 230px;
    }
    .padding350 {
        padding-left: 350px;
        padding-right: 350px;
    }

    .paddingleft {
        padding-left: 150px;
    }

    .paddingright {
        padding-right: 150px;
    }


    #Light {
        align-items: center; 
        display: flex;
        height: 50vh;
        background-size: 48%;
        margin-top: 90px;
        .wp-block-column:first-child {
            flex-basis: 68% !important;
            p:first-child{
                font-size: 27px ;
            }
        }
    }

    .centerdesktop { 
        text-align: center !important;       
        p {
        text-align: center !important;        
        }
    }

    #items-mb {
        background-size: 100%;
        #AllMb {
            padding-top: 150px;
            padding-bottom: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            .wp-block-columns {
                width: 100%;
                .wp-block-column:not(:first-child) {
                    margin-left: 15px;
                }
                .button-perso-white {
                    margin: 15px 0px 0px;  
                }
            }
        }
    }

    #Actuality {
        .swiper-actu{ 
            margin-bottom: 50px;
            .swiper-button-next, .swiper-button-prev {
                display: block;  
            }
            #WrapperContainer { 
                overflow: hidden;
                width: calc(95% - 230px);
            }
            .swiper-button-next, .swiper-button-prev{ 
                display: block;
                margin-right: 80px;
                margin-left: 80px;                  
                &:after {
                    font-size: 20px;
                    color: #c3bebe;
                    border-radius: 10px;
                    display: flex;
                    height: 40px;
                    width: 40px;
                    align-items: center;
                    justify-content: center;
                    background: #181818;
                    box-shadow: 3px 7px 1px #151515, -3px -2px 20px #212121;
                }   
            }
        }    
    } 
    
    .toolbar-occasion{
        top: 35%;
        .container-visible{
            width: 150px;
            height: 160px;
            border: 1px solid #4c4c4c2e;
            cursor: pointer;
            .icon-wheel{
                background-image: url(../icons/Toolbar/roue-occas.png);
                width: 100px;
                height: 95px;
                margin: 10px auto 0;
            }
            .title-toolbar{
                transform: unset;
                text-transform: unset;
                color: white;
                font-family: 'InriaSansLight';
                font-weight: 100;
                text-align: center;
                line-height: 1.1;
                font-size: 18px;
                position: relative;
                top: unset;
                left: unset;
                span{
                    color: #f92231;
                    font-family: 'InriaSansBold';
                    text-transform: uppercase;
                }
            }
        }
        .container-hidden{
            .container-icon{
                transition: all 0.5s;
                span{
                    display: block;
                    font-size: 13px;
                    font-family: 'InriaSans';
                    color: #2c2c2c;
                }
                a{
                    display: contents;
                }
                &:hover{
                    border-radius: 15px;
                    background: #f1f1f1;
                    box-shadow:  2px 2px 13px #dcdcdc,
                                -1px -1px 9px #fffdfd;
                    transition: all 0.5s;
                }
            }
        }
    }

    .button-perso-red, .button-actu-red{
        &:hover{
            box-shadow: inset 6px 6px 12px #141414, 
            inset -6px -6px 12px #1c1c1c;
            transition: all 0.5s;
            &::before{
                background-position: -150px 0
            }
        }
    }
    .button-perso-white{
        &:hover{
            box-shadow: inset 6px 6px 12px #141414, 
            inset -6px -6px 12px #1c1c1c;
            transition: all 0.5s;
            &::before{
                background-position: -150px 0
            }
        }  
    }
}


// MACBOOK + IPAD PRO LANDSCAPE
// @media only screen and ( min-width: 1366px ) {}

// ECRAN PC PORTABLE
// @media only screen and ( min-width: 1440px ) {}

// ECRAN CLASSIC 1080P
// @media only screen and ( min-width: 1920px ) {}

// ECRAN MAC RETINA
// @media only screen and ( min-width: 2560px ) {}